<p>{{ comment.utterance }}</p>
<h6>Posted by {{ comment.critic }}
<span class="pull-right">
<img class="comment-actions" src="/assets/images/edit.png"> <img class="comment-actions" src="/assets/images/delete.png">
</span></h6>
<hr>
