h1 {
  font-family: 'Orbitron', monospace;
  font-size: 45px;
  text-align: center;
  color: #FFF;
}

h3 {
  text-align: center;
  margin-top: 0 !important;
}

h4 {
  text-align: center;
}

body {
  color: #000;
  font-family: 'Play';
  background: url('/assets/images/background.jpg') repeat;
}

a, a:visited {
  color: #3cb260;
}

a:hover {
  color: #3cb260;
  text-decoration: underline;
}

.well {
  margin: 30px 5px 0 5px;
  background-color: #FFF;
}

.spacer {
  width: 100%;
  height: 150px;
}

.comment-actions {
  width: 10px;
  height: auto;
}

#new-comment {
  width: 60%;
  display: block;
  margin: 30px auto;
}

#comment-display {
  width: 60%;
  display: block;
  margin: 30px auto;
}

#add-button {
  color: #3cb260;
  display: block;
  margin: 10px auto;
}

#publish-button {
  background: #3cb260;
  color: #FFF;
}

#post-button {
  color: #3cb260;
  display: block;
  margin: 0 auto;
}

#logo {
  width: 100px;
  height: auto;
}

#header {
  background-color: #000;
  height: 150px;
  padding: 0.5em;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
}

#footer {
  text-align: center;
  background-color: #3cb260;
  height: 50px;
  padding: 10px !important;
  margin-top: 30px;
}

#nav{
  color: #FFF;
}

#nav a {
  color: #FFF;
}

#tile-img {
  width: 400px;
  height: 300px;
}

#content {
  display: block;
  margin: 0 auto;
}

#post-display {
  width: 60%;
  margin: 30px auto;
}
