<div class="container-fluid">
  <header id="header">
    <h1>Game {{#link-to 'index'}}<img id="logo" src="/assets/images/quest.png" alt="Game Quest">{{/link-to}} Quest</h1>
  </header>

  {{outlet}}

  <footer id="footer">
    <h6 id="nav">{{#link-to 'about'}} About {{/link-to}} | {{#link-to 'contact'}} Contact {{/link-to}} | {{#link-to 'social'}} Social {{/link-to}}</h6>
  </footer>
</div>
