<div class="spacer">
</div>


  <div class="add-post">
    {{add-post post=post savePost="savePost"}}
    <!-- Button trigger modal -->
    <button id="add-button" type="button" class="btn btn-default" data-toggle="modal" data-target="#newPost">
      + New Post
    </button>
  </div>

  <div id="content" class="row">
    {{#each model.posts as |post|}}
      {{post-tile post=post}}
    {{/each}}
  </div>
